# Python Review

#### 1. Print two sentences.  Use only one print statement to do it and use the newline escape character between the two sentences. It should (without quotes) read.   
"My name is (your name).    
I am a student at North Seattle College."

In [8]:
print("My name is Ken Cage\nI am a student at North Seattle College.")

My name is Ken Cage
I am a student at North Seattle College.

#### 2. Define a variable called phone and insert a phone number without dashes. Print out    
"My phone number is (phone number here)"

In [9]:
phone = "2061234567"
print(f"My phone number is {phone}")

My phone number is 2061234567

#### 3. Be sure to use the f functionality of printing. Save in a variable called phone a phone number with dashes and another variable with your name in it. Print out    
"Hello my name is (your name) and my phone number is (phone number with dashes)"

In [10]:
name = "Ken Cage" 
phone_with_dashes = "206-123-4567"

print(f"Hello, my name is {name} and my phone number is {phone_with_dashes}.")

Hello, my name is Ken Cage and my phone number is 206-123-4567.

#### 4. Create variables for the month and year you will graduate in one line. 
#### Using the variables print out "I graduate in (month) of (year)."
Don't forget the period.

In [11]:
month, year = "June", 2025
print(f"I graduate in {month} of {year}.")

I graduate in June of 2025.

### Mathematical

#### 5. Create a variable called ans and into it save the solution to 12 times 5 minus 3 divided by 2. Be sure you write in exactly that order. Print ans. Now write a comment underneath explaining what the TYPE of ans is at the end.

In [12]:
ans = 12 * 5 - 3 / 2

print(ans)
#The type of ans is a float

58.5

### Decision Structures

#### 6. Create a variable to hold the string "October". Now write an if/else statement that tests if that variable says "October". If it does, print "31 days". If it does not, print "30 days"

In [13]:
month = "October"

if month == "October":
    print("31 days")
else:
    print("30 days")

31 days

#### 7. Create a variable and save 140 into it. Now create a decision structure using if, elif and else that does the following:    
If the number is greater than 150, print "greater than 150"   
If the number if greater than 100 but less than 151, print "between 100 and 150"   
If the number is less than 100, print "less than 100"

In [14]:
number = 140

if number > 150:
    print("greater than 150")
elif 100 < number <= 150:
    print("between 100 and 150")
else:
    print("less than 100")

between 100 and 150

#### 8. Create a variable to hold the number 70. Now create two if statements:
#### 1st: if the number is divisible by 5 and by 10, then print "Number is divisible by 5 and 10."    
#### 2nd: if the number is divisible by 7 or by 2, then print "Number is divisible by 7 or by 2"

In [15]:
# Create a variable to hold the number 70
number = 70

# First if statement
if number % 5 == 0 and number % 10 == 0:
    print("Number is divisible by 5 and 10.")

# Second if statement
if number % 7 == 0 or number % 2 == 0:
    print("Number is divisible by 7 or by 2")

Number is divisible by 5 and 10.
Number is divisible by 7 or by 2

#### 9. Create a FOR loop that prints the numbers 1 through 100 that are divisible by 7.

In [16]:
# Create a FOR loop that prints numbers 1 through 100 divisible by 7 horizontally (Not sure if the assignment caled for horizontal or not)
for number in range(1, 101):
    if number % 7 == 0:
        print(number, end=' ')

7 14 21 28 35 42 49 56 63 70 77 84 91 98

#### 10. Use a while loop to print all numbers from 1 to 10 which are divisible by 3. Print the numbers next to each other with a space in between them. Use a while loop and if statement. Sum up the numbers and printt he sum on a new line.

In [17]:
# Initialize variables
current_number = 1
divisible_by_3_numbers = []
sum_of_numbers = 0

# Use a while loop to print numbers from 1 to 10 divisible by 3
while current_number <= 10:
    if current_number % 3 == 0:
        divisible_by_3_numbers.append(current_number)
        print(current_number, end=' ')
        sum_of_numbers += current_number
    current_number += 1

# Print the sum on a new line
print("\nSum of numbers:", sum_of_numbers)

3 6 9
Sum of numbers: 18

#### 11. You will be creating a nested loop like we did in class but with a twist. Ultimately, you want 5 sets to print, each one with the output "Set : (set number)" each time a new set is looped into. Then before you print all the numbers in that set, you want to test if the number is divisible by 2. If it is, print a string 5 times that looks like this: "Student (number)".  So it would have 5 sets... some of them would have strings printed in them, some would not. The ones that would have strings in them would show output like:
"    
Set: 1    
Set: 2    
Student 1    
Student 2    
Student 3    
Student 4    
Student 5    
Set: 3     
..."

In [18]:
# Define the number of sets
num_sets = 5

# Outer loop for sets
for set_number in range(1, num_sets + 1):
    print(f"Set: {set_number}")

    # Inner loop for numbers in the set
    for student_number in range(1, 6):
        # Check if the number is divisible by 2
        if student_number % 2 == 0:
            print(f"Student {student_number}")

# Output:
# Set: 1
# Student 2
# Student 4
# Set: 2
# Student 2
# Student 4
# Set: 3
# ...

Set: 1
Student 2
Student 4
Set: 2
Student 2
Student 4
Set: 3
Student 2
Student 4
Set: 4
Student 2
Student 4
Set: 5
Student 2
Student 4

#### 12. Create a variable called school to hold the string "Hogwarts". Create two more variables, the first (call it first) and it will slice out the "Hog" and the other (call it second) will slice out the "warts" from the first variable. (Do not just save the strings "Hog and "warts" into these two variables!) Now print first and second and then print the last letter of school.

In [19]:
# Create a variable called school
school = "Hogwarts"

# Create two variables using slicing
first = school[:3]  # Slice out "Hog"
second = school[3:]  # Slice out "warts"

# Print the sliced variables
print(first)
print(second)

# Print the last letter of school
print(school[-1])

Hog
warts
s

#### 13. Create a list called chars and save these strings in: Thor, She-Hulk, Loki.  Now use a FOR loop to print each item as a concatenation of the string: " is a character in the Marvel Cinematic Universe.."  So the output will be:
Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

In [20]:
# Create a list called chars
chars = ["Thor", "She-Hulk", "Loki"]

# Use a FOR loop to print each item
for character in chars:
    print(f"{character} is a character in the Marvel Cinematic Universe.")

Thor is a character in the Marvel Cinematic Universe.
She-Hulk is a character in the Marvel Cinematic Universe.
Loki is a character in the Marvel Cinematic Universe.

#### 14. Create a nested list called months. It will be a list with 6 lists within it. In each nested list will be the name of a month as a string and then the number of days it has. Create this using the first 6 months. Now use a loop with range and len function to print the following string format on each iteration:    
"January has 31 days"  .... (month name) has (month days) days.

In [21]:
# Create a nested list called months
months = [
    ["January", 31],
    ["February", 28],
    ["March", 31],
    ["April", 30],
    ["May", 31],
    ["June", 30]
]

# Use a loop to print the desired string format
for i in range(len(months)):
    month_name = months[i][0]
    month_days = months[i][1]
    print(f"{month_name} has {month_days} days.")

January has 31 days.
February has 28 days.
March has 31 days.
April has 30 days.
May has 31 days.
June has 30 days.

#### 15. Create a dictionary called dog that hold the data below. Print it. Then print the value of the Breed key. Then use the values in the dictionary to print out the string: "The Corgi is expected to live about 13 years."    
Data:     
Breed = Corgi   
Age Exp. = 13   
Type = Cattle herding

In [22]:
# Create a dictionary called dog
dog = {
    "Breed": "Corgi",
    "Age Exp.": 13,
    "Type": "Cattle herding"
}

# Print the entire dictionary
print(dog)

# Print the value of the Breed key
print("Breed:", dog["Breed"])

# Use the values in the dictionary to print the specified string
print(f"The {dog['Breed']} is expected to live about {dog['Age Exp.']} years.")

{'Breed': 'Corgi', 'Age Exp.': 13, 'Type': 'Cattle herding'}
Breed: Corgi
The Corgi is expected to live about 13 years.